body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

canvas,
video {
  position: absolute;
  padding: 0;
}

svg {
  padding: 2vh;
}

#leftside {
  width: 50vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rightside {
  width: 50vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
