body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url(images/grass.gif);
  background-size: cover;
}

@font-face {
  font-family: "Mess-Light";
  src: url("fonts/Mess-Light_web.eot");
  src: url("fonts/Mess-Light_web.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mess-Light_web.woff") format("woff"),
    url("fonts/Mess-Light_web.woff2") format("woff2"),
    url("fonts/Mess-Light_web.ttf") format("truetype"),
    url("fonts/Mess-Light_web.svg#svgFontName") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Malebolge-Adversarial";
  src: url("fonts/Malebolge-Adversarial.eot");
  src: url("fonts/Malebolge-Adversarial.eot?#iefix") format("embedded-opentype"),
    url("fonts/Malebolge-Adversarial.woff") format("woff"),
    url("fonts/Malebolge-Adversarial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avara-Bold";
  src: url("fonts/Avara-Bold.eot");
  src: url("fonts/Avara-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Avara-Bold.woff") format("woff"),
    url("fonts/Avara-Bold.woff2") format("woff2"),
    url("fonts/Avara-Bold.ttf") format("truetype"),
    url("fonts/Avara-Bold_web.svg#svgFontName") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brassia-Regular";
  src: url("fonts/Brassia-Regular.eot");
  src: url("fonts/Brassia-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Brassia-Regular.woff") format("woff"),
    url("fonts/Brassia-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lobular-Regular";
  src: url("fonts/Lobular-Regular.eot");
  src: url("fonts/Lobular-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Lobular-Regular.woff") format("woff"),
    url("fonts/Lobular-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

canvas,
video {
  position: absolute;
  padding: 0;
}

svg {
  padding: 10vh;
}

#leftside {
  width: 50vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rightside {
  width: 50vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
